# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: "Graphinate"
site_author: Eran Rivlis
site_description: >-
  Graphinate. Data to Graphs. A Python library for creating and manipulating graphs from various data sources.

repo_url: https://github.com/erivlis/graphinate
repo_name: erivlis/graphinate
edit_uri: edit/main/docs/

# Copyright
copyright: Copyright &copy; 2023-2025 Eran Rivlis

theme:
  name: material
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tooltips
    - navigation.expand
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.sections
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.progress
    - navigation.prune
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  font: false
  palette:
    # Palette toggle for dark mode
    - scheme: slate
      primary: custom
      accent: deep purple
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    # Palette toggle for light mode
    - scheme: default
      primary: custom
      accent: deep purple
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

  logo: assets/images/logo-128.png
  favicon: assets/images/logo-128.png
extra_css:
  - assets/stylesheets/extra.css


markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      #      auto_title: true
      anchor_linenums: true
      line_spans: __span
      use_pygments: true
      pygments_lang_class: true
      linenums: true
      linenums_style: table
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: true
      toc_depth: 3
      separator: "_"


nav:
  #  - Home: index.md
  - Introduction: introduction.md
  - Quick Start: start.md
  - Tutorial: tutorial.md
  - Usage: usage/
  - Examples: examples/
  # - Gallery: gallery/
  # defer to gen-files + literate-nav
  - Reference: reference/
  - Development: development.md
  - Acknowledgements: acknowledgements.md


extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/erivlis/graphinate
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/graphinate
    - icon: fontawesome/brands/mastodon
      link: https://mastodon.social/@erivlis
    - icon: fontawesome/brands/bluesky
      link: https://bsky.app/profile/erivlis.bsky.social
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/erivlis
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/eranrivlis
  version:
    provider: mike


plugins:
  - search:
      lang: en
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
      min_search_length: 3
  - gen-files:
      scripts:
        - docs/gen_ref_pages.py
  - glightbox
  - literate-nav:
      nav_file: SUMMARY.md
  - git-committers:
      repository: erivlis/graphinate
      branch: main
  - git-revision-date-localized:
      enable_creation_date: true
  - mike:
      # configure version selector
      version_selector: true
      # set the default version
      canonical_version: latest
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [ src ]
          options:
            allow_inspection: true
            show_source: false
            heading_level: 3
            #          show_root_heading: false
            show_category_heading: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            docstring_style: google  # or numpy, depending on your preference
            docstring_section_style: table
            members_order: alphabetical
            show_signature_annotations: true
